@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-headline;
  }
  body {
    @apply bg-background text-paragraph font-semibold;
  }

  button {
    @apply text-text-button font-medium;
  }

  @media (max-width: 1400px) {
    html {
      font-size: 90%;
    }
  }
}

@layer utilities {
  .spinner-animation {
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .show-animation {
    @apply opacity-50 scale-50;
    animation: show 250 cubic-bezier(0.46, 0.69, 0.77, 0.51) forwards;
  }

  @keyframes show {
    100% {
      @apply opacity-100 scale-100;
    }
  }
  .overflow-text {
    @apply after:content-[''] after:absolute after:bottom-0 after:right-0 after:h-[24px] after:w-[50%] after:bg-[linear-gradient(90deg,transparent,#eaddcf)];
  }
}
