@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-headline;
  }
  body {
    @apply bg-background text-paragraph font-semibold;
  }

  button {
    @apply text-text-button font-medium;
  }
}

@layer utilities {
  .spinner-animation {
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .overflow-text {
    @apply after:content-[''] after:absolute after:bottom-0 after:right-0 after:h-[24px] after:w-[50%] after:bg-[linear-gradient(90deg,transparent,#eaddcf)];
  }
}
